@model IEnumerable<Homework_Project2.Models.Detail>

@{
    ViewBag.Title = "訂單明細";
}

<h2>訂單明細</h2>

<table class="table">
    <tr>
        <th>
            訂單編號
        </th>
        <th>
            會員帳號
        </th>
        <th>
            產品編號
        </th>
        <th>
            品名
        </th>
        <th>
            價格
        </th>
        <th>
            數量
        </th>
        <th>
            是否為訂單
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsApproved)
        </td>
       
    </tr>
}

</table>
